<a href="https://colab.research.google.com/github/moneypitak/data_viz_2022/blob/main/FinalExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data

In [22]:
import pandas as pd
import datetime #ทำการ import package datetime 
import os

In [23]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
alldb = pd.read_csv(os.path.join(path, 'alldb.csv'))

In [25]:
data_file_path = os.path.join(path,'hospital_list.xlsx')  
hospital = pd.read_excel(data_file_path)

# ไฟล์ alldb

In [26]:
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

# แก้ค่า Missing และเปลี่ยน type ของข้อมูล

# user

In [27]:
alldb = alldb[(alldb['user'].astype(str).str.isdigit()) & (alldb['user'].str.len() == 5)]
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),NaN,xxxxx,NaN,NaN

# site

In [28]:
alldb = alldb[(alldb['site'].astype(str).str.isdigit()) & (alldb['site'].str.len() == 5)]
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

# PartitionKey

In [29]:
alldb = alldb[(alldb['PartitionKey'].astype(str).str.isdigit()) & (alldb['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),NaN,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

# date

In [30]:
alldb['date'] = pd.to_datetime(alldb['date'])     # เปลี่ยนชนิดข้อมูล และจัดรูปแบบข้อมูล
alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),NaN,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

# แก้ type ข้อมูล

In [31]:
alldb['user'] = pd.to_numeric(alldb['user'], errors='coerce') #errors=’coerce’, you’ll transform the non-numeric values into NaN.
alldb['site'] = pd.to_numeric(alldb['site'], errors='coerce')
alldb['ov'] = pd.to_numeric(alldb['ov'], errors='coerce')
alldb['PartitionKey'] = pd.to_numeric(alldb['PartitionKey'], errors='coerce')
alldb['age'] = pd.to_numeric(alldb['age'], errors='coerce')
alldb['phone']=alldb['phone'].astype('string')
alldb['RowKey']=alldb['RowKey'].astype('string')
alldb['urine']=alldb['urine'].astype('string')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
print (alldb.dtypes)

Unnamed: 0               int64
user                     int64
RowKey                  string
care                    object
date            datetime64[ns]
ov                     float64
phone                   string
site                     int64
time                    object
urine                   string
pid                     object
PartitionKey             int64
title                   object
age                    float64
dtype: object

In [33]:
alldb.isnull().any()

Unnamed: 0      False
user            False
RowKey          False
care             True
date             True
ov               True
phone           False
site            False
time             True
urine            True
pid              True
PartitionKey    False
title            True
age              True
dtype: bool

# แทนค่า Missing

In [34]:
alldb['urine'] = alldb[['urine']].fillna(method="ffill")
alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
190,190,6223,kfpwuaqldj.png,NaN,2022-03-23,0.0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,0,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4.0,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),NaN,1,นางสาว,47.0
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4.0,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),NaN,1,นาง,41.0
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3.0,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),NaN,1,นาง,55.0
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29,3.0,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),NaN,1,นาย,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1.0,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0.0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

In [35]:
alldb['time'] = alldb[['time']].fillna(method="ffill")      # เติมค่าว่างของเวลาด้วย ค่าก่อนหน้า หรือค่าข้างบน
alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
190,190,6223,kfpwuaqldj.png,NaN,2022-03-23,0.0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,0,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4.0,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),NaN,1,นางสาว,47.0
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4.0,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),NaN,1,นาง,41.0
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3.0,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),NaN,1,นาง,55.0
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29,3.0,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),NaN,1,นาย,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1.0,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0.0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

In [36]:
alldb['date'] = alldb[['date']].fillna(method="ffill")      # เติมค่าว่างของเวลาด้วย ค่าก่อนหน้า หรือค่าข้างบน
alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
190,190,6223,kfpwuaqldj.png,NaN,2022-03-23,0.0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,0,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4.0,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),NaN,1,นางสาว,47.0
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4.0,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),NaN,1,นาง,41.0
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3.0,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),NaN,1,นาง,55.0
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29,3.0,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),NaN,1,นาย,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1.0,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0.0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

In [57]:
alldb = alldb.fillna(value={'ov':'ไม่มีข้อมูล','title':'ไม่มีข้อมูล'})  
alldb

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23,0.0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่มีข้อมูล,53.952742
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4.0,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4.0,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.000000
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3.0,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.000000
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3.0,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1.0,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่มีข้อมูล,53.952742
39813,99999,lnlohgqckf.png,2022-03-10,0.0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่มีข้อมูล,53.952742
39814,99999,vkdocpmjiv.png,2022-03-10,1.0,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่มีข้อมูล,53.952742
39815,99999,vrvyfnvayq.png,2022-03-10,1.0,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่มีข้อมูล,53.952742
39816,99999,zuhbtvyrce.png,2022-03-10,1.0,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่มีข้อมูล,53.952742

In [38]:
alldb = alldb.fillna(value={'age':alldb['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
190,190,6223,kfpwuaqldj.png,NaN,2022-03-23,0.0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,0,ไม่มีข้อมูล,53.952742
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4.0,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),NaN,1,นางสาว,47.000000
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4.0,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),NaN,1,นาง,41.000000
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3.0,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),NaN,1,นาง,55.000000
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29,3.0,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),NaN,1,นาย,66.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1.0,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,ไม่มีข้อมูล,53.952742
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0.0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,ไม่มีข้อมูล,53.952742
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,ไม่มีข้อมูล,53.952742
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,ไม่มีข้อมูล,53.952742
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1.0,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,ไม่มีข้อมูล,53.952742

In [39]:
set(alldb['title'])

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง',
 'ไม่มีข้อมูล'}

In [40]:
alldb['title'].replace({'  นาง':'หญิง',
 ' นาง':'หญิง',
 ' นางสาว':'หญิง',
 ' นาย':'ชาย',
 'Mrs':'หญิง',
 'ชาย':'ชาย',
 'ด.ช.':'ชาย',
 'ด.ญ.':'หญิง',
 'ด.ต.':'ชาย',
 'น':'ชาย',
 'น.ส':'หญิง',
 'น.ส ':'หญิง',
 'น.ส.':'หญิง',
 'นส':'หญิง',
 'นส.':'หญิง',
 'นส. ':'หญิง',
 'นาง':'หญิง',
 'นาง ':'หญิง',
 'นาง.':'หญิง',
 'นางl':'หญิง',
 'นางสาว':'หญิง',
 'นางสาว ':'หญิง',
 'นางสาว                   ':'หญิง',
 'นาน':'ชาย',
 'นาบ':'ชาย',
 'นาย':'ชาย',
 'นาย ':'ชาย',
 'นาย  ':'ชาย',
 'นาว':'หญิง',
 'นาวสาว':'หญิง',
 'นา่ง':'หญิง',
 'น่าย':'ชาย',
 'พจอ.':'ไม่มีข้อมูล',
 'พระ':'ชาย',
 'พระครุ':'ชาย',
 'พระปลัด':'ชาย',
 'พลฯ':'ไม่มีข้อมูล',
 'ร.ต.':'ไม่มีข้อมูล',
 'ร.ต.ต.':'ไม่มีข้อมูล',
 'ร.ต.ท.':'ไม่มีข้อมูล',
 'ร.ต.อ.':'ไม่มีข้อมูล',
 'รต.':'ไม่มีข้อมูล',
 'ว่าที่ ร.ต.':'ไม่มีข้อมูล',
 'ว่าที่ ร.ท.':'ไม่มีข้อมูล',
 'ว่าที่ร้อยตรี':'ไม่มีข้อมูล',
 'ส.อ.':'ไม่มีข้อมูล',
 'ืนาง':'หญิง',
 'เด็กชาย':'ชาย','เด็กหญิง':'หญิง'}, inplace=True)

In [41]:
set(alldb['title'])

{'ชาย', 'หญิง', 'ไม่มีข้อมูล'}

In [42]:
alldb = alldb[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]  #เลือกมาเฉพาะชื่อคอลัมน์ที่ต้องการ  เป็น list ลำดับมีความสำคัญ

In [43]:
alldb1 = alldb.rename(columns={'title':'sex'})
alldb1

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,6223,kfpwuaqldj.png,2022-03-23,0.0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่มีข้อมูล,53.952742
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4.0,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4.0,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.000000
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3.0,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.000000
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3.0,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1.0,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่มีข้อมูล,53.952742
39813,99999,lnlohgqckf.png,2022-03-10,0.0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่มีข้อมูล,53.952742
39814,99999,vkdocpmjiv.png,2022-03-10,1.0,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่มีข้อมูล,53.952742
39815,99999,vrvyfnvayq.png,2022-03-10,1.0,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่มีข้อมูล,53.952742
39816,99999,zuhbtvyrce.png,2022-03-10,1.0,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่มีข้อมูล,53.952742

# ไฟล์ hospital

In [44]:
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# เลือกคอลัมน์

In [45]:
hospital = hospital[['hcode','name','province','amphur']] 
hospital

,hcode,name,province,amphur
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สมุทรปราการ,เมืองสมุทรปราการ
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,นนทบุรี,เมืองนนทบุรี
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,ปทุมธานี,เมืองปทุมธานี
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,อ่างทอง,เมืองอ่างทอง
...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,อุตรดิตถ์,เมืองอุตรดิตถ์
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,ประจวบคีรีขันธ์,กุยบุรี
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,ราชบุรี,วัดเพลง
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,ศรีสะเกษ,เมืองศรีสะเกษ
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,ราชบุรี,บางแพ

# เช็คค่า missing และแทนค่า missing

In [46]:
hospital.isnull().any()

hcode       False
name         True
province    False
amphur       True
dtype: bool

In [47]:
hospital1 = hospital = hospital.fillna(value={'name':'ไม่มีข้อมูล','amphur':'ไม่มีข้อมูล'})  
hospital1

,hcode,name,province,amphur
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สมุทรปราการ,เมืองสมุทรปราการ
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,นนทบุรี,เมืองนนทบุรี
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,ปทุมธานี,เมืองปทุมธานี
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,อ่างทอง,เมืองอ่างทอง
...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,อุตรดิตถ์,เมืองอุตรดิตถ์
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,ประจวบคีรีขันธ์,กุยบุรี
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,ราชบุรี,วัดเพลง
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,ศรีสะเกษ,เมืองศรีสะเกษ
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,ราชบุรี,บางแพ

In [48]:
hospital1.isnull().any()

hcode       False
name        False
province    False
amphur      False
dtype: bool

In [49]:
hospital1['hcode'] = pd.to_numeric(hospital1['hcode'], errors='coerce')

# รวมตาราง

In [50]:
final =alldb1.merge(hospital1,how='left',left_on='site',right_on='hcode') 
final

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,province,amphur
0,6223,kfpwuaqldj.png,2022-03-23,0.0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่มีข้อมูล,53.952742,13777.0,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,ขอนแก่น,เมืองขอนแก่น
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4.0,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.000000,6307.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์,พิชัย
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4.0,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.000000,5328.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์,ฆ้องชัย
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3.0,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.000000,6302.0,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์,ฟากท่า
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3.0,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.000000,5059.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม,นาดูน
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1.0,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่มีข้อมูล,53.952742,NaN,NaN,NaN,NaN
38378,99999,lnlohgqckf.png,2022-03-10,0.0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่มีข้อมูล,53.952742,NaN,NaN,NaN,NaN
38379,99999,vkdocpmjiv.png,2022-03-10,1.0,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่มีข้อมูล,53.952742,NaN,NaN,NaN,NaN
38380,99999,vrvyfnvayq.png,2022-03-10,1.0,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่มีข้อมูล,53.952742,NaN,NaN,NaN,NaN
38381,99999,zuhbtvyrce.png,2022-03-10,1.0,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่มีข้อมูล,53.952742,NaN,NaN,NaN,NaN

In [58]:
final = final.dropna()
final

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,province,amphur
0,6223,kfpwuaqldj.png,2022-03-23,0.0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่มีข้อมูล,53.952742,13777.0,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,ขอนแก่น,เมืองขอนแก่น
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4.0,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,หญิง,47.000000,6307.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์,พิชัย
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4.0,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,หญิง,41.000000,5328.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์,ฆ้องชัย
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3.0,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,หญิง,55.000000,6302.0,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์,ฟากท่า
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3.0,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,ชาย,66.000000,5059.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม,นาดูน
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38365,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,2.0,"iPhone11,8",11088,10:30:22,ปกติ (เหลืองใส),89170,ไม่มีข้อมูล,53.952742,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์,ห้วยผึ้ง
38366,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,0.0,"iPhone11,8",11088,10:29:37,ปกติ (เหลืองใส),90470,ไม่มีข้อมูล,53.952742,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์,ห้วยผึ้ง
38367,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,1.0,"iPhone11,8",11088,10:24:40,ปกติ (เหลืองใส),91123,ไม่มีข้อมูล,53.952742,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์,ห้วยผึ้ง
38368,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,1.0,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),99444,ไม่มีข้อมูล,53.952742,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์,ห้วยผึ้ง
38369,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,0.0,"iPhone10,5",5396,11:03:40,ปกติ (เหลืองใส),99771,ไม่มีข้อมูล,53.952742,5396.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,กาฬสินธุ์,คำม่วง

# นำข้อมูลออก

In [59]:
#final.to_csv(os.path.join(path,'final.csv'))

# Link Dashboard

https://datastudio.google.com/reporting/14c9ae45-e513-43af-b3a5-7f781ce71751