<a href="https://colab.research.google.com/github/moneypitak/data_viz_2022/blob/main/Pandas102_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/data_viz_2022'

Mounted at /content/drive

In [3]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv') 
data_df = pd.read_csv(data_file_path)

In [4]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [5]:
data_df

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [6]:
set(data_df['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [7]:
len('สมุุทรสงคราม')

12

In [8]:
'สมุุทรสงคราม'[2]

'ุ'

In [9]:
'สมุุทรสงคราม'[3]

'ุ'

# ต่อตาราง

*   ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
*   ต่อในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

# ต่อแกน Y

In [10]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [11]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

## ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [12]:
dataBKKKKC = pd.concat([BKK,KKC])
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [13]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])

In [14]:
dataBKKKKC

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5592 rows x 10 columns]

## ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [15]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['sex','age','nationality']]
BKK2.head()

    sex   age nationality
0  หญิง  61.0       China
1  หญิง  74.0       China
3   ชาย  68.0       China
4  หญิง  66.0       China
5  หญิง  33.0       China

In [16]:
KKC2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','sex']]
KKC2.head()

       age nationality   sex
180   33.0    Thailand   ชาย
462   36.0    Thailand  หญิง
1466  19.0    Thailand   ชาย
1970  70.0    Thailand  หญิง
2637  63.0    Thailand  หญิง

In [17]:
pd.concat([BKK2,KKC2])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    ชาย  20.0    Thailand
10610   ชาย  17.0    Thailand
11517   ชาย  12.0    Thailand
11697  หญิง  17.0    Thailand
11698  หญิง  37.0    Thailand

[2803 rows x 3 columns]

In [18]:
KKC3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','risk']]
KKC3.head()

       age nationality                                           risk
180   33.0    Thailand                                        สนามมวย
462   36.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  19.0    Thailand                  คนไทยเดินทางกลับจากต่างประเทศ
1970  70.0    Thailand  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  63.0    Thailand                  สัมผัสผู้เดินทางจากต่างประเทศ

In [19]:
pd.concat([BKK2,KKC3])

        sex   age nationality                                         risk
0      หญิง  61.0       China                                          NaN
1      หญิง  74.0       China                                          NaN
3       ชาย  68.0       China                                          NaN
4      หญิง  66.0       China                                          NaN
5      หญิง  33.0       China                                          NaN
...     ...   ...         ...                                          ...
9334    NaN  20.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610   NaN  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517   NaN  12.0    Thailand                         อยู่ระหว่างการสอบสวน
11697   NaN  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698   NaN  37.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 4 columns]

In [20]:
KKC4 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality']]
KKC4.head()

       age nationality
180   33.0    Thailand
462   36.0    Thailand
1466  19.0    Thailand
1970  70.0    Thailand
2637  63.0    Thailand

In [21]:
pd.concat([BKK2,KKC4])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    NaN  20.0    Thailand
10610   NaN  17.0    Thailand
11517   NaN  12.0    Thailand
11697   NaN  17.0    Thailand
11698   NaN  37.0    Thailand

[2803 rows x 3 columns]

# ต่อแกน X

In [22]:
personal_data = data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [23]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid_data.head()

         No.  ...                                               risk
10811  10812  ...                                  Cluster สมุทรสาคร
7277    7278  ...                                                NaN
2571    2572  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
9669    9670  ...                                  Cluster สมุทรสาคร
4801    4802  ...                                  Cluster สมุทรสาคร

[5 rows x 5 columns]

## เอาตารางสองอันมาต่อกัน

In [24]:
personalcovid_data = personal_data.merge(covid_data)
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

In [25]:
personalcovid_data = covid_data.merge(personal_data)
personalcovid_data.head()

     No. announce_date province_of_isolation  ...   sex   age nationality
0  10812     1/12/2021             สมุทรสาคร  ...   ชาย  32.0       Burma
1   7278      1/2/2021             สมุทรสาคร  ...   ชาย  43.0    Thailand
2   2572     4/13/2020                ชลบุรี  ...  หญิง  30.0    Thailand
3   9670      1/8/2021             สมุทรสาคร  ...   ชาย  28.0       Burma
4   4802    12/20/2020             สมุทรสาคร  ...   NaN   NaN       Burma

[5 rows x 8 columns]

## Save Table

In [26]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv') )

In [27]:
personalcovid_data.to_csv('my_processed_data.csv')

## Groupby

In [28]:
data_df.groupby('nationality').count()

                No.  announce_date  ...  district_of_onset  risk
nationality                         ...
Afghanistan       1              1  ...                  1     1
Albania           3              3  ...                  2     3
American          1              1  ...                  1     1
American          1              1  ...                  1     1
American Samoa    1              1  ...                  1     1
...             ...            ...  ...                ...   ...
deutsch           1              1  ...                  1     1
thailand          2              2  ...                  2     2
ต่างด้าว         21             21  ...                 21    21
ไทยใหญ่           1              1  ...                  1     1
ไทใหญ่            1              1  ...                  1     1

[100 rows x 9 columns]

In [29]:
data_df.groupby('nationality').mean()

                         No.        age
nationality
Afghanistan      4346.000000  31.000000
Albania          2377.333333  40.666667
American         3862.000000  39.000000
American         3905.000000  46.000000
American Samoa  11687.000000  21.000000
...                      ...        ...
deutsch          3898.000000  55.000000
thailand         6823.000000  53.500000
ต่างด้าว         2944.952381  20.000000
ไทยใหญ่         10379.000000  30.000000
ไทใหญ่           5983.000000  33.000000

[100 rows x 2 columns]

In [30]:
data_df.groupby('nationality')['age'].min()

nationality
Afghanistan       31.0
Albania           33.0
American          39.0
American          46.0
American Samoa    21.0
                  ...
deutsch           55.0
thailand          50.0
ต่างด้าว          13.0
ไทยใหญ่           30.0
ไทใหญ่            33.0
Name: age, Length: 100, dtype: float64

In [31]:
data_df.groupby('nationality').min(' ')

                  No.   age
nationality
Afghanistan      4346  31.0
Albania          1480  33.0
American         3862  39.0
American         3905  46.0
American Samoa  11687  21.0
...               ...   ...
deutsch          3898  55.0
thailand         6822  50.0
ต่างด้าว         2227  13.0
ไทยใหญ่         10379  30.0
ไทใหญ่           5983  33.0

[100 rows x 2 columns]

## Create Pandas table

In [32]:
import pandas as pd

## Dictionary(row oriented)

In [33]:
data_list = [ {'account':'Jones LLC','Jan':150,'Feb':200,'Mar':140},
              {'account':'Alpha Co','Jan':200,'Feb':210,'Mar':215},
              {'account':'Blue Inc','Jan':50,'Feb':90,'Mar':95},         
            ]

In [34]:
data_list

[{'Feb': 200, 'Jan': 150, 'Mar': 140, 'account': 'Jones LLC'},
 {'Feb': 210, 'Jan': 200, 'Mar': 215, 'account': 'Alpha Co'},
 {'Feb': 90, 'Jan': 50, 'Mar': 95, 'account': 'Blue Inc'}]

In [35]:
df1 = pd.DataFrame(data_list)
df1

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

In [36]:
data = [['Jones LLC',150,200,140],
        ['Alpha Co',200,210,215],
        ['Blue Inc',50,90,95]]
header = ['account','Jan','Feb','Mar']

In [37]:
df2 = pd.DataFrame.from_records(data,columns=header)
df2

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

## Dictionary(column oriented)

In [38]:
data_dict = { 'account':['Jones LLC','Alpha Co','Blue Inc'],
              'Jan':[150,200,50],
              'Feb':[200,210,90],
              'Mar':[140,215,95]
}

In [39]:
df3 = pd.DataFrame.from_dict(data_dict)
df3

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

## List(column oriented)

In [40]:
data_item = [['account',['Jones LLC','Alpha Co','Blue Inc']],
             ['Jan',[150,200,50]],
             ['Feb',[200,210,90]],
             ['Mar',[140,215,95]]
            ]

In [41]:
# pandas version บน colab วันที่ 26Jan22 ยังมี bug 
# df4 = pd.DataFrame.from_items(data_item)
# df4

# Quiz กลุ่ม ครั้ง 3

ออกแบบและสร้างตาราง pandas dataframe ที่ สามารถนำมาดึงข้อมูลด้วย pandas ได้

![image.png]()

In [45]:
data = [['อำนาจเจริญ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['บึงกาฬ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['บุรีรัมย์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['ชัยภูมิ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['กาฬสินธุ์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['ขอนแก่น','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['เลย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['มหาสารคาม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['มุกดาหาร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['นครพนม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['นครราชสีมา','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['หนองบัวลำภู','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['หนองคาย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['ร้อยเอ็ด','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['สกลนคร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['ศรีสะเกษ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['สุรินทร์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['อุบลราชธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['อุดรธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['ยโสธร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
        ['เชียงใหม่','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['เชียงราย','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['ลำปาง','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['ลำพูน','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['แม่ฮ่องสอน','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['น่าน','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['พะเยา','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['แพร่','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['อุตรดิตถ์','เหนือ','เหนือ','เหนือ','เหนือ'],
        ['ตาก','ตะวันตก','เหนือ','เหนือ','เหนือ'],
        ['สุโขทัย','กลาง','เหนือ','เหนือ','เหนือ'],
        ['พิษณุโลก','กลาง','เหนือ','เหนือ','เหนือ'],
        ['พิจิตร','กลาง','เหนือ','เหนือ','เหนือ'],
        ['กำแพงเพชร','กลาง','เหนือ','เหนือ','เหนือ'],
        ['เพชรบุรี','กลาง','เหนือ','เหนือ','เหนือ'],
        ['นครสวรรค์','กลาง','เหนือ','กลาง','เหนือ'],
        ['อุทัยธานี','กลาง','เหนือ','กลาง','เหนือ'],
        ['อ่างทอง','กลาง','กลาง','กลาง','กลาง'],
        ['ชัยนาท','กลาง','กลาง','กลาง','กลาง'],
        ['พระนครศรีอยุธยา','กลาง','กลาง','กลาง','กลาง'],
        ['กรุงเทพมหานคร','กลาง','กลาง','กลาง','กลาง'],
        ['ลพบุรี','กลาง','กลาง','กลาง','กลาง'],
        ['นครปฐม','กลาง','กลาง','กลาง','กลาง'],
        ['นนทบุรี','กลาง','กลาง','กลาง','กลาง'],
        ['ปทุมธานี','กลาง','กลาง','กลาง','กลาง'],
        ['สมุทรปราการ','กลาง','กลาง','กลาง','กลาง'],
        ['สมุทรสาคร','กลาง','กลาง','กลาง','กลาง'],
        ['สมุทรสงคราม','กลาง','กลาง','กลาง','กลาง'],
        ['สระบุรี','กลาง','กลาง','กลาง','กลาง'],
        ['สิงห์บุรี','กลาง','กลาง','กลาง','กลาง'],
        ['สุพรรณบุรี','กลาง','กลาง','กลาง','กลาง'],
        ['นครนายก','กลาง','กลาง','ตะวันออก','กลาง'],
        ['ฉะเชิงเทรา','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
        ['จันทบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
        ['ชลบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
        ['ปราจีนบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
        ['ระยอง','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
        ['สระแก้ว','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
        ['ตราด','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
        ['กาญจนบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
        ['ราชบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
        ['เพชรบุรี','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก','กลาง'],
        ['ประจวบคีรีขันธ์','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก','กลาง'],
        ['ชุมพร','ใต้','ใต้','ใต้ฝั่งตะวันออก','ใต้'],
        ['นครศรีธรรมราช','ใต้','ใต้','ใต้ฝั่งตะวันออก','ใต้'],
        ['นราธิวาส','ใต้','ใต้','ใต้ฝั่งตะวันออก','ใต้'],
        ['ปัตตานี','ใต้','ใต้','ใต้ฝั่งตะวันออก','ใต้'],
        ['พัทลุง','ใต้','ใต้','ใต้ฝั่งตะวันออก','ใต้'],
        ['สงขลา','ใต้','ใต้','ใต้ฝั่งตะวันออก','ใต้'],
        ['สุราษฏร์ธานี','ใต้','ใต้','ใต้ฝั่งตะวันออก','ใต้'],
        ['ยะลา','ใต้','ใต้','ใต้ฝั่งตะวันออก','ใต้'],
        ['กระบี่','ใต้','ใต้','ใต้ฝั่งตะวันตก','ใต้'],
        ['พังงา','ใต้','ใต้','ใต้ฝั่งตะวันตก','ใต้'],
        ['ภูเก็ต','ใต้','ใต้','ใต้ฝั่งตะวันตก','ใต้'],
        ['ระนอง','ใต้','ใต้','ใต้ฝั่งตะวันตก','ใต้'],
        ['สตูล','ใต้','ใต้','ใต้ฝั่งตะวันตก','ใต้'],
        ['ตรัง','ใต้','ใต้','ใต้ฝั่งตะวันตก','ใต้']]
header = ['จังหวัด','6 ภูมิภาค(ภูมิศาสตร์)','4 ภูมิภาค(การเมือง)','6 ภูมิภาค(อุตุนิยมวิทยา)','5 ภูมิภาค(การท่องเที่ยว)']

In [48]:
Q3 = pd.DataFrame.from_records(data,columns=header)
Q3

       จังหวัด  ... 5 ภูมิภาค(การท่องเที่ยว)
0   อำนาจเจริญ  ...       ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ...       ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ...       ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ...       ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ...       ตะวันออกเฉียงเหนือ
..         ...  ...                      ...
72       พังงา  ...                      ใต้
73      ภูเก็ต  ...                      ใต้
74       ระนอง  ...                      ใต้
75        สตูล  ...                      ใต้
76        ตรัง  ...                      ใต้

[77 rows x 5 columns]

In [49]:
Q3 = pd.DataFrame.from_records(data,columns=header)
Q3

       จังหวัด  ... 5 ภูมิภาค(การท่องเที่ยว)
0   อำนาจเจริญ  ...       ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ...       ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ...       ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ...       ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ...       ตะวันออกเฉียงเหนือ
..         ...  ...                      ...
72       พังงา  ...                      ใต้
73      ภูเก็ต  ...                      ใต้
74       ระนอง  ...                      ใต้
75        สตูล  ...                      ใต้
76        ตรัง  ...                      ใต้

[77 rows x 5 columns]

In [50]:
df_south = Q3[Q3['6 ภูมิภาค(ภูมิศาสตร์)']=='ใต้'] ## จังหวัดที่อยู่ภาคใต้
df_south

          จังหวัด  ... 5 ภูมิภาค(การท่องเที่ยว)
63          ชุมพร  ...                      ใต้
64  นครศรีธรรมราช  ...                      ใต้
65       นราธิวาส  ...                      ใต้
66        ปัตตานี  ...                      ใต้
67         พัทลุง  ...                      ใต้
68          สงขลา  ...                      ใต้
69   สุราษฏร์ธานี  ...                      ใต้
70           ยะลา  ...                      ใต้
71         กระบี่  ...                      ใต้
72          พังงา  ...                      ใต้
73         ภูเก็ต  ...                      ใต้
74          ระนอง  ...                      ใต้
75           สตูล  ...                      ใต้
76           ตรัง  ...                      ใต้

[14 rows x 5 columns]

In [51]:
df_south.count()

จังหวัด                     14
6 ภูมิภาค(ภูมิศาสตร์)       14
4 ภูมิภาค(การเมือง)         14
6 ภูมิภาค(อุตุนิยมวิทยา)    14
5 ภูมิภาค(การท่องเที่ยว)    14
dtype: int64