<a href="https://colab.research.google.com/github/moneypitak/data_viz_2022/blob/main/ProjectFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Prep

## ข้อมูลการตรวจโควิด-19 ในประเทศไทย : https://data.go.th/dataset/covid-19-testing-data

In [42]:
import pandas as pd

In [43]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
data_covid_testing= pd.read_csv('/content/drive/MyDrive/ProjectFinal/thailand_covid-19_testing_data_update080365.csv')  ## สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
data_covid_testing ## แสดงข้อมูล

,Date,positive,Total Testing,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121
0,Cannot specify date,2963.0,32131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2020,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27,NaN,28,NaN,29,NaN,30,NaN,31,NaN
2,2/1/2020,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Pos,Total,Pos,Total,Pos,Total,Pos,Pos,Pos,Pos
3,3/1/2020,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4/1/2020,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,4/3/2022,28544.0,60343.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,5/3/2022,20522.0,40281.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
data_covid_testing_iloc = data_covid_testing.iloc[:-3,:3]
data_covid_testing_iloc

                    Date  positive  Total Testing
0    Cannot specify date    2963.0        32131.0
1               1/1/2020       0.0            0.0
2               2/1/2020       0.0            0.0
3               3/1/2020       0.0            0.0
4               4/1/2020       0.0            2.0
..                   ...       ...            ...
791             1/3/2022   34414.0        76230.0
792             2/3/2022   30352.0        67301.0
793             3/3/2022   30077.0        63047.0
794             4/3/2022   28544.0        60343.0
795             5/3/2022   20522.0        40281.0

[796 rows x 3 columns]

In [46]:
covid_testing_since_12012020 = data_covid_testing_iloc.iloc[12:,:]
covid_testing_since_12012020

          Date  positive  Total Testing
12   12/1/2020       2.0            6.0
13   13/1/2020       2.0           14.0
14   14/1/2020       6.0            7.0
15   15/1/2020       5.0           12.0
16   16/1/2020       1.0            9.0
..         ...       ...            ...
791   1/3/2022   34414.0        76230.0
792   2/3/2022   30352.0        67301.0
793   3/3/2022   30077.0        63047.0
794   4/3/2022   28544.0        60343.0
795   5/3/2022   20522.0        40281.0

[784 rows x 3 columns]

# Data Covid

In [47]:
covid1 = pd.read_csv('/content/drive/MyDrive/ProjectFinal/confirmed-cases.csv')
covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [48]:
## since 12/08/64

covid2 = pd.read_csv('/content/drive/MyDrive/ProjectFinal/confirmed-cases-since-120864.csv')
covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [49]:
## since 27/10/64

covid3 = pd.read_csv('/content/drive/MyDrive/ProjectFinal/confirmed-cases-since-271064.csv')
covid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [50]:
## since 28/02/65

covid4 = pd.read_csv('/content/drive/MyDrive/ProjectFinal/confirmed-cases-since-280265.csv')
covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
406477,3276094,17/3/2022,16/3/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
406478,3276095,17/3/2022,16/3/2022,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406479,3276096,17/3/2022,16/3/2022,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN
406480,3276097,17/3/2022,16/3/2022,หญิง,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
406481,3276098,17/3/2022,16/3/2022,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

# ข้อมูลภูมิภาค

In [51]:
data_list_city = [   {'จังหวัด':'อำนาจเจริญ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บึงกาฬ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บุรีรัมย์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'ชัยภูมิ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'กาฬสินธุ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ขอนแก่น','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'เลย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มหาสารคาม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มุกดาหาร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครพนม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครราชสีมา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองบัวลำภู','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองคาย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ร้อยเอ็ด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สกลนคร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ศรีสะเกษ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สุรินทร์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุบลราชธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุดรธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                {'จังหวัด':'ยโสธร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
    ###แถว 2
                    {'จังหวัด':'เชียงใหม่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':' เชียงราย','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำปาง','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำพูน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แม่ฮ่องสอน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'น่าน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พะเยา','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แพร่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุตรดิตถ์','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    ###แถว 3
                    {'จังหวัด':'ตาก','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    ###แถว 4
                    {'จังหวัด':'สุโขทัย','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิษณุโลก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิจิตร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'กำแพงเพชร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'เพชรบูรณ์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    ###แถว 5
                    {'จังหวัด':'นครสวรรค์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุทัยธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    ###แถว 6
                    {'จังหวัด':'อ่างทอง','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ชัยนาท','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'พระนครศรีอยุธยา','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'กรุงเทพมหานคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ลพบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นครปฐม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นนทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ปทุมธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรปราการ','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสาคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสงคราม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สระบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สิงห์บุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สุพรรณบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    ###แถว 7
                    {'จังหวัด':'นครนายก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     ###แถว 8
                    {'จังหวัด':'ฉะเชิงเทรา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'จันทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ชลบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ปราจีนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ระยอง','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'สระแก้ว','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ตราด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
    ###แถว 9
                    {'จังหวัด':'กาญจนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ราชบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    ###แถว 10
                    {'จังหวัด':'เพชรบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ประจวบคีรีขันธ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     ###แถว 11
                    {'จังหวัด':'ชุมพร','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นครศรีธรรมราช','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นราธิวาส','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ปัตตานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พัทลุง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สงขลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สุราษฎร์ธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ยะลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
    ###แถว 12               
                    {'จังหวัด':'กระบี่','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พังงา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ภูเก็ต','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ระนอง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สตูล','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ตรัง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},

]

In [52]:
df_city = pd.DataFrame(data_list_city)  ## สร้างตารางข้อมูลจังหวัด 
df_city ## แสดงข้อมูล

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

# Merge Table

In [53]:
data_covid_all = pd.concat([covid1,covid2,covid3,covid4])  ## รวม data covid-19 ทั้งหมด
data_covid_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
406477,3276094,17/3/2022,16/3/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
406478,3276095,17/3/2022,16/3/2022,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
406479,3276096,17/3/2022,16/3/2022,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
406480,3276097,17/3/2022,16/3/2022,หญิง,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
406481,3276098,17/3/2022,16/3/2022,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [54]:
covid_testing_merge = data_covid_all.merge(covid_testing_since_12012020,left_on ='announce_date',right_on='Date') ## รวมตาราง data covid-19 และ ข้อมูลการตรวจโควิด-19
covid_testing_merge

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11,Date,positive,Total Testing
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN,12/1/2020,2.0,6.0
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN,17/1/2020,0.0,5.0
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN,22/1/2020,1.0,8.0
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN,22/1/2020,1.0,8.0
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN,24/1/2020,2.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004809,3004810,5/3/2022,4/3/2022,ชาย,NaN,NaN,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN,5/3/2022,20522.0,40281.0
3004810,3004811,5/3/2022,4/3/2022,ชาย,NaN,NaN,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN,5/3/2022,20522.0,40281.0
3004811,3004812,5/3/2022,4/3/2022,ชาย,NaN,NaN,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN,5/3/2022,20522.0,40281.0
3004812,3004813,5/3/2022,4/3/2022,ชาย,NaN,NaN,Thailand,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN,5/3/2022,20522.0,40281.0
3004813,3004814,5/3/2022,4/3/2022,ชาย,NaN,NaN,Thailand,พิษณุโลก,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN,5/3/2022,20522.0,40281.0

In [55]:
df_all = covid_testing_merge.merge(df_city,how='right',left_on = 'province_of_isolation',right_on = 'จังหวัด')  ## รวมตาราง data covid-19 , ข้อมูลการตรวจโควิด-19 เข้ากับ ข้อมูลภูมิภาค
df_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11,Date,positive,Total Testing,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,973.0,26/3/2020,25/3/2020,ชาย,48.0,ปี,Thailand,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,เมือง,NaN,26/3/2020,430.0,3358.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,1864.0,2/4/2020,1/4/2020,หญิง,46.0,ปี,Thailand,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ปทุมราชวงศา,NaN,2/4/2020,247.0,2963.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,6493.0,30/12/2020,29/12/2020,หญิง,37.0,ปี,Thailand,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,หัวตะพาน,NaN,30/12/2020,701.0,23370.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,7390.0,3/1/2021,2/1/2021,หญิง,26.0,ปี,Laos,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,หัวตะพาน,NaN,3/1/2021,263.0,14192.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,31038.0,10/4/2021,9/4/2021,ชาย,38.0,ปี,Thailand,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,เมือง,NaN,10/4/2021,1392.0,44640.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2989579,3001275.0,5/3/2022,4/3/2022,ชาย,3.0,ปี,Thailand,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ห้วยยอด,NaN,5/3/2022,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2989580,3001276.0,5/3/2022,4/3/2022,ชาย,61.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,หาดสำราญ,NaN,5/3/2022,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2989581,3001277.0,5/3/2022,4/3/2022,ชาย,60.0,ปี,Thailand,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,หาดสำราญ,NaN,5/3/2022,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2989582,3001278.0,5/3/2022,4/3/2022,หญิง,44.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,หาดสำราญ,NaN,5/3/2022,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2989583,3001279.0,5/3/2022,4/3/2022,หญิง,32.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,กันตัง,NaN,5/3/2022,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [56]:
df_all.columns ## เช็คชื่อแต่ละคอลัมน์

Index(['No.', 'announce_date', 'Notified date', 'sex', 'age', 'Unit',
       'nationality', 'province_of_isolation', 'risk', 'province_of_onset',
       'district_of_onset', 'Unnamed: 11', 'Date', 'positive', 'Total Testing',
       'จังหวัด', '6 ภูมิภาค (ภูมิศาสตร์)', '4 ภูมิภาค (การเมือง)',
       '6 ภูมิภาค (อุตุนิยมวิทยา)', '5 ภูมิภาค (การท่องเที่ยว)'],
      dtype='object')

In [57]:
df_all.drop(['Unnamed: 11'],axis='columns',inplace=True) ## ลบคอลัมน์ออก

In [58]:
df_all.shape  ## เช็คขนาด

(2989584, 19)

# announce_date , Date to datetime

In [59]:
df_all['announce_date'] = pd.to_datetime(df_all['announce_date'],format='%d/%m/%Y') ## เปลี่ยน dtype เป็น datatime และรูปแบบของวันที่

In [60]:
df_all['Date'] = pd.to_datetime(df_all['Date'],format='%d/%m/%Y') ## เปลี่ยน dtype เป็น datatime และรูปแบบของวันที่

In [61]:
df_all.info() ## เช็ค dtype

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2989584 entries, 0 to 2989583
Data columns (total 19 columns):
 #   Column                     Dtype
---  ------                     -----
 0   No.                        float64
 1   announce_date              datetime64[ns]
 2   Notified date              object
 3   sex                        object
 4   age                        object
 5   Unit                       object
 6   nationality                object
 7   province_of_isolation      object
 8   risk                       object
 9   province_of_onset          object
 10  district_of_onset          object
 11  Date                       datetime64[ns]
 12  positive                   float64
 13  Total Testing              float64
 14  จังหวัด                    object
 15  6 ภูมิภาค (ภูมิศาสตร์)     object
 16  4 ภูมิภาค (การเมือง)       object
 17  6 ภูมิภาค (อุตุนิยมวิทยา)  object
 18  5 ภูมิภาค (การท่องเที่ยว)  object
dtypes: datetime64[ns](2), float64(3), object(14)
memory usage: 456.2+ MB

# Data Missing

In [62]:
df_all.isnull().any()  ## ดูค่า missing

No.                           True
announce_date                 True
Notified date                 True
sex                           True
age                           True
Unit                          True
nationality                   True
province_of_isolation         True
risk                          True
province_of_onset             True
district_of_onset             True
Date                          True
positive                      True
Total Testing                 True
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

In [63]:
df_all['sex'].unique() ## ดูค่าที่ผิดปกติ ของ 'sex'

array(['ชาย', 'หญิง', nan, 'นาย', 'ร.ต.ท.', 'หญิิง', 'หญง', '\xa0หญิง',
       'ช', 'ญ', 'หณิง', 'หห'], dtype=object)

In [64]:
df_all['Unit'].unique() ## ดูค่าที่ผิดปกติ ของ 'Unit'

array(['ปี', nan, 'เดือน', 'วัน', ' เดือน', ' วัน'], dtype=object)

In [65]:
df_all.replace({'ชาย':'ชาย', 'หญิง':'หญิง','นาย':'ชาย', 'ร.ต.ท.':'ชาย', 'หญิิง':'หญิง', 'หญง':'หญิง', '\xa0หญิง':'หญิง',
       'ช':'ชาย', 'ญ':'หญิง', 'หณิง':'หญิง', 'หห':'Unknow'},inplace=True)  ## แก้ไขค่าที่ผิดปกติ ของ 'sex'

In [66]:
df_all.replace({'ปี':'ปี', 'เดือน':'ปี', 'วัน':'ปี', ' เดือน':'ปี', ' วัน':'ปี'},inplace=True) ## แก้ไขค่าที่ผิดปกติ ของ 'Unit'

In [67]:
df_all['sex'].unique()  ## เช็คค่าที่ผิดปกติ ของ 'sex'

array(['ชาย', 'หญิง', nan, 'Unknow'], dtype=object)

In [68]:
df_all['Unit'].unique() ## เช็คค่าที่ผิดปกติ ของ 'Unit'

array(['ปี', nan], dtype=object)

In [69]:
df_no_missing = df_all.fillna('ไม่ทราบค่า')  ## เติมค่าที่ข้อมูลที่ว่าง
df_no_missing

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Date,positive,Total Testing,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,973.0,2020-03-26 00:00:00,25/3/2020,ชาย,48.0,ปี,Thailand,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,เมือง,2020-03-26 00:00:00,430.0,3358.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,1864.0,2020-04-02 00:00:00,1/4/2020,หญิง,46.0,ปี,Thailand,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ปทุมราชวงศา,2020-04-02 00:00:00,247.0,2963.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,6493.0,2020-12-30 00:00:00,29/12/2020,หญิง,37.0,ปี,Thailand,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,หัวตะพาน,2020-12-30 00:00:00,701.0,23370.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,7390.0,2021-01-03 00:00:00,2/1/2021,หญิง,26.0,ปี,Laos,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,หัวตะพาน,2021-01-03 00:00:00,263.0,14192.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,31038.0,2021-04-10 00:00:00,9/4/2021,ชาย,38.0,ปี,Thailand,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,เมือง,2021-04-10 00:00:00,1392.0,44640.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2989579,3001275.0,2022-03-05 00:00:00,4/3/2022,ชาย,3.0,ปี,Thailand,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ห้วยยอด,2022-03-05 00:00:00,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2989580,3001276.0,2022-03-05 00:00:00,4/3/2022,ชาย,61.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,หาดสำราญ,2022-03-05 00:00:00,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2989581,3001277.0,2022-03-05 00:00:00,4/3/2022,ชาย,60.0,ปี,Thailand,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,หาดสำราญ,2022-03-05 00:00:00,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2989582,3001278.0,2022-03-05 00:00:00,4/3/2022,หญิง,44.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,หาดสำราญ,2022-03-05 00:00:00,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
2989583,3001279.0,2022-03-05 00:00:00,4/3/2022,หญิง,32.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,กันตัง,2022-03-05 00:00:00,20522.0,40281.0,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [70]:
df_no_missing.isnull().any() ## เช็คค่า missing

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
Date                         False
positive                     False
Total Testing                False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

# Data Processing

In [71]:
num_of_sex = df_all.groupby(['sex']).count().reset_index().iloc[:,:2]
num_of_sex  ## หาจำนวนผู้ติดเชื้อโควิค-19 แบ่งตามเพศ

      sex      No.
0  Unknow        1
1     ชาย  1343281
2    หญิง  1481757

In [72]:
num_of_sex.columns = ['sex', 'จำนวนผู้ป่วยแบ่งตามเพศ']
num_of_sex

      sex  จำนวนผู้ป่วยแบ่งตามเพศ
0  Unknow                       1
1     ชาย                 1343281
2    หญิง                 1481757

In [73]:
list_of_province = df_all.groupby(['จังหวัด']).count().reset_index().iloc[:,:2] ## หาจำนวนผู้ติดเชื้อโควิค-19 แบ่งตามจังหวัด
list_of_province

          จังหวัด     No.
0        เชียงราย       0
1          กระบี่   17832
2   กรุงเทพมหานคร  582681
3       กาญจนบุรี   33331
4       กาฬสินธุ์   17667
..            ...     ...
72       เพชรบุรี   31297
73      เพชรบูรณ์   17982
74            เลย    8995
75           แพร่    4797
76     แม่ฮ่องสอน    4153

[77 rows x 2 columns]

In [74]:
list_of_province.columns = ['จังหวัด', 'จำนวนผู้ป่วยแบ่งตามจังหวัด']
list_of_province

          จังหวัด  จำนวนผู้ป่วยแบ่งตามจังหวัด
0        เชียงราย                           0
1          กระบี่                       17832
2   กรุงเทพมหานคร                      582681
3       กาญจนบุรี                       33331
4       กาฬสินธุ์                       17667
..            ...                         ...
72       เพชรบุรี                       31297
73      เพชรบูรณ์                       17982
74            เลย                        8995
75           แพร่                        4797
76     แม่ฮ่องสอน                        4153

[77 rows x 2 columns]

In [75]:
list_of_date = df_all.groupby(['Date']).first() ## หาข้อมูลผู้ติดเชื้อโควิค-19 แบ่งตามวันที่
list_of_date

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,positive,Total Testing,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
Date,,,,,,,,,,,,,,,,,,
2020-01-12,1.0,2020-01-12,None,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,6.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2020-01-17,2.0,2020-01-17,None,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,0.0,5.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2020-01-22,4.0,2020-01-22,None,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,เมือง,1.0,8.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2020-01-24,5.0,2020-01-24,None,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,19.0,นนทบุรี,กลาง,กลาง,กลาง,กลาง
2020-01-25,6.0,2020-01-25,None,หญิง,33.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,26.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-01,2906174.0,2022-03-01,28/2/2022,หญิง,23.0,ปี,Thailand,อำนาจเจริญ,อยู่ระหว่างการสอบสวน,อำนาจเจริญ,เมืองอำนาจเจริญ,34414.0,76230.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2022-03-02,2927829.0,2022-03-02,1/3/2022,หญิง,41.0,ปี,Thailand,อำนาจเจริญ,อื่นๆ,อำนาจเจริญ,เมืองอำนาจเจริญ,30352.0,67301.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2022-03-03,2951060.0,2022-03-03,2/3/2022,ชาย,48.0,ปี,Thailand,อำนาจเจริญ,อื่นๆ,อำนาจเจริญ,หัวตะพาน,30077.0,63047.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2022-03-04,2974989.0,2022-03-04,3/3/2022,หญิง,39.0,ปี,Thailand,อำนาจเจริญ,อื่นๆ,กรุงเทพมหานคร,ลืออำนาจ,28544.0,60343.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2022-03-05,2997670.0,2022-03-05,4/3/2022,หญิง,27.0,ปี,Thailand,อำนาจเจริญ,อื่นๆ,อำนาจเจริญ,เมืองอำนาจเจริญ,20522.0,40281.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

In [76]:
num_of_state = df_all.groupby(['6 ภูมิภาค (ภูมิศาสตร์)']).count().reset_index().iloc[:,:2] ## หาจำนวนผู้ติดเชื้อโควิค-19 แบ่งตาม 6 ภูมิภาค (ภูมิศาสตร์)
num_of_state

  6 ภูมิภาค (ภูมิศาสตร์)      No.
0                   กลาง  1410036
1                ตะวันตก   184981
2               ตะวันออก   375079
3     ตะวันออกเฉียงเหนือ   418382
4                  เหนือ    89078
5                    ใต้   512027

In [77]:
num_of_state.columns = ['6 ภูมิภาค (ภูมิศาสตร์)', 'จำนวนผู้ป่วยแบ่งตาม 6 ภูมิภาค (ภูมิศาสตร์)']
num_of_state

  6 ภูมิภาค (ภูมิศาสตร์)  จำนวนผู้ป่วยแบ่งตาม 6 ภูมิภาค (ภูมิศาสตร์)
0                   กลาง                                     1410036
1                ตะวันตก                                      184981
2               ตะวันออก                                      375079
3     ตะวันออกเฉียงเหนือ                                      418382
4                  เหนือ                                       89078
5                    ใต้                                      512027

In [78]:
list_of_risk = df_all.groupby(['risk']).count().reset_index().iloc[:,:2]  ## หาจำนวนผู้ติดเชื้อโควิค-19 แบ่งตามกลุ่ม Cluster
list_of_risk

                                                  risk   No.
0                                           Samui plus     2
1                                             10.อื่นๆ    66
2                                  2.สัมผัสผู้ติดเชื้อ    82
3                          8.สำรวจกลุ่มเสี่ยง (survey)     1
4                                   9.ขอตรวจหาเชื้อเอง     2
..                                                 ...   ...
167             ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน     1
168              ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต  4053
169  ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar     1
170                      ไปแหล่งชุมชน/สถานที่คนหนาแน่น     5
171                                            ไม่ระบุ     4

[172 rows x 2 columns]

In [79]:
list_of_risk.columns = ['risk', 'จำนวนผู้ป่วยแบ่งตาม risk']
list_of_risk

,risk,จำนวนผู้ป่วยแบ่งตาม risk
0,Samui plus,2
1,10.อื่นๆ,66
2,2.สัมผัสผู้ติดเชื้อ,82
3,8.สำรวจกลุ่มเสี่ยง (survey),1
4,9.ขอตรวจหาเชื้อเอง,2
...,...,...
167,ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน,1
168,ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต,4053
169,ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar,1
170,ไปแหล่งชุมชน/สถานที่คนหนาแน่น,5
171,ไม่ระบุ,4

# Export

In [80]:
num_of_sex.to_csv('num_of_sex.csv',encoding='utf-8')  ## Export เป็น csv  จำนวนผู้ติดเชื้อโควิค-19 แบ่งตามเพศ

In [81]:
list_of_province.to_csv('list_of_province.csv',encoding='utf-8') ## Export เป็น csv ข้อมูลผู้ติดเชื้อโควิค-19 แบ่งตามจังหวัด

In [82]:
list_of_date.to_csv('list_of_date.csv',encoding='utf-8') ## Export เป็น csv จำนวนผู้ติดเชื้อโควิค-19 แบ่งตามวันที่

In [83]:
num_of_state.to_csv('num_of_state.csv',encoding='utf-8') ## Export เป็น csv จำนวนผู้ติดเชื้อโควิค-19 แบ่งตาม 6 ภูมิภาค (ภูมิศาสตร์)

In [84]:
list_of_risk.to_csv('list_of_risk.csv',encoding='utf-8') ## Export เป็น csv จำนวนผู้ติดเชื้อโควิค-19 แบ่งตามกลุ่ม Cluster

# Dashboard's link

: https://datastudio.google.com/reporting/e1e3e316-1af1-4e04-b475-6fd12b7d6b98

# After present

In [85]:
merge2 = list_of_date.merge(num_of_state,left_on ='6 ภูมิภาค (ภูมิศาสตร์)',right_on='6 ภูมิภาค (ภูมิศาสตร์)') ## รวมตาราง data covid-19 และ ข้อมูลการตรวจโควิด-19
merge2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,positive,Total Testing,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนผู้ป่วยแบ่งตาม 6 ภูมิภาค (ภูมิศาสตร์)
0,1.0,2020-01-12,None,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,6.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036
1,2.0,2020-01-17,None,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,0.0,5.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036
2,4.0,2020-01-22,None,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,เมือง,1.0,8.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036
3,5.0,2020-01-24,None,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,19.0,นนทบุรี,กลาง,กลาง,กลาง,กลาง,1410036
4,6.0,2020-01-25,None,หญิง,33.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,26.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,26928.0,2021-03-15,14/3/2021,ชาย,44.0,ปี,Burma,ตาก,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตาก,แม่สอด,239.0,17095.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981
720,28494.0,2021-03-26,25/3/2021,ชาย,19.0,ปี,Burma,ตาก,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตาก,แม่สอด,260.0,16790.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981
721,28657.0,2021-03-27,26/3/2021,ชาย,59.0,ปี,Thailand,ตาก,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,ตาก,แม่สอด,57.0,12317.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981
722,28861.0,2021-03-31,30/3/2021,หญิง,34.0,ปี,Thailand,ตาก,State Quarantine,สระแก้ว,แม่สอด,95.0,18094.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981
723,28984.0,2021-04-03,2/4/2021,หญิง,43.0,ปี,Burma,ตาก,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตาก,แม่่สอด,144.0,15951.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981

In [86]:
merge3 = merge2.merge(num_of_sex,left_on ='sex',right_on='sex') ## รวมตาราง data covid-19 และ ข้อมูลการตรวจโควิด-19
merge3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,positive,Total Testing,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนผู้ป่วยแบ่งตาม 6 ภูมิภาค (ภูมิศาสตร์),จำนวนผู้ป่วยแบ่งตามเพศ
0,1.0,2020-01-12,None,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,6.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757
1,2.0,2020-01-17,None,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,0.0,5.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757
2,5.0,2020-01-24,None,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,19.0,นนทบุรี,กลาง,กลาง,กลาง,กลาง,1410036,1481757
3,6.0,2020-01-25,None,หญิง,33.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,None,2.0,26.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757
4,7.0,2020-01-26,None,หญิง,57.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,หัวหิน,7.0,61.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,26502.0,2021-03-10,9/3/2021,ชาย,14.0,ปี,Burma,ตาก,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตาก,แม่่สอด,99.0,17383.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981,1343281
720,26688.0,2021-03-13,12/3/2021,ชาย,20.0,ปี,Burma,ตาก,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตาก,แม่สอด,71.0,11303.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981,1343281
721,26928.0,2021-03-15,14/3/2021,ชาย,44.0,ปี,Burma,ตาก,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตาก,แม่สอด,239.0,17095.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981,1343281
722,28494.0,2021-03-26,25/3/2021,ชาย,19.0,ปี,Burma,ตาก,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตาก,แม่สอด,260.0,16790.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981,1343281
723,28657.0,2021-03-27,26/3/2021,ชาย,59.0,ปี,Thailand,ตาก,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,ตาก,แม่สอด,57.0,12317.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981,1343281

In [87]:
merge4 = merge3.merge(list_of_province,left_on ='จังหวัด',right_on='จังหวัด') ## รวมตาราง data covid-19 และ ข้อมูลการตรวจโควิด-19
merge4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,...,positive,Total Testing,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนผู้ป่วยแบ่งตาม 6 ภูมิภาค (ภูมิศาสตร์),จำนวนผู้ป่วยแบ่งตามเพศ,จำนวนผู้ป่วยแบ่งตามจังหวัด
0,1.0,2020-01-12,None,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,2.0,6.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681
1,2.0,2020-01-17,None,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,0.0,5.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681
2,6.0,2020-01-25,None,หญิง,33.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,2.0,26.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681
3,7.0,2020-01-26,None,หญิง,57.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,7.0,61.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681
4,20.0,2020-02-04,None,หญิง,43.0,ปี,Thailand,กรุงเทพมหานคร,คนไทยเดินทางกลับจากต่างประเทศ,กรุงเทพมหานคร,...,16.0,235.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,2989.0,2020-05-05,4/5/2020,ชาย,45.0,ปี,Thailand,นราธิวาส,อยู่ระหว่างการสอบสวน,นราธิวาส,...,16.0,7326.0,นราธิวาส,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,512027,1343281,45380
720,3011.0,2020-05-11,10/5/2020,ชาย,6.0,ปี,Thailand,นราธิวาส,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,นราธิวาส,...,13.0,5759.0,นราธิวาส,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,512027,1343281,45380
721,3033.0,2020-05-19,18/5/2020,ชาย,42.0,ปี,Thailand,นราธิวาส,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,นราธิวาส,...,10.0,7656.0,นราธิวาส,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,512027,1343281,45380
722,3078.0,2020-05-30,29/5/2020,ชาย,26.0,ปี,Thailand,นราธิวาส,State Quarantine,นราธิวาส,...,5.0,7758.0,นราธิวาส,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,512027,1343281,45380
723,3085.0,2020-06-03,2/6/2020,ชาย,26.0,ปี,Thailand,ปัตตานี,State Quarantine,ปัตตานี,...,5.0,6696.0,ปัตตานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,512027,1343281,52751

In [88]:
merge5 = merge4.merge(list_of_risk,left_on ='risk',right_on='risk') ## รวมตาราง data covid-19 และ ข้อมูลการตรวจโควิด-19
merge5

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,...,Total Testing,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนผู้ป่วยแบ่งตาม 6 ภูมิภาค (ภูมิศาสตร์),จำนวนผู้ป่วยแบ่งตามเพศ,จำนวนผู้ป่วยแบ่งตามจังหวัด,จำนวนผู้ป่วยแบ่งตาม risk
0,1.0,2020-01-12,None,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,6.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681,495
1,2.0,2020-01-17,None,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,5.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681,495
2,6.0,2020-01-25,None,หญิง,33.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,26.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681,495
3,7.0,2020-01-26,None,หญิง,57.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,61.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1481757,582681,495
4,4.0,2020-01-22,None,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,8.0,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,1410036,1343281,582681,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,2306480.0,2022-01-14,13/1/2022,หญิง,60.0,ปี,Thailand,อำนาจเจริญ,สถานที่ทำงาน,อำนาจเจริญ,...,64714.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,418382,1481757,4984,85487
720,71950.0,2021-05-04,3/5/2021,ชาย,79.0,ปี,Thailand,อำนาจเจริญ,ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต,อำนาจเจริญ,...,58761.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,418382,1343281,4984,4053
721,2174892.0,2021-12-14,13/12/2021,ชาย,45,ปี,Thailand,อำนาจเจริญ,ทัณฑสถาน/เรือนจำ,อำนาจเจริญ,...,44703.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,418382,1343281,4984,91574
722,2811683.0,2022-02-25,24/2/2022,ชาย,20.0,ปี,Thailand,อำนาจเจริญ,สถานศึกษา,อำนาจเจริญ,...,69499.0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,418382,1343281,4984,4862
723,26113.0,2021-03-04,3/3/2021,หญิง,17.0,ปี,Burma,ตาก,ตรวจก่อนทำหัตถการ,ตาก,...,18576.0,ตาก,ตะวันตก,เหนือ,เหนือ,เหนือ,184981,1481757,30757,7329

In [89]:
table2 = merge5[['announce_date','Total Testing','positive']]
table2

    announce_date  Total Testing  positive
0      2020-01-12            6.0       2.0
1      2020-01-17            5.0       0.0
2      2020-01-25           26.0       2.0
3      2020-01-26           61.0       7.0
4      2020-01-22            8.0       1.0
..            ...            ...       ...
719    2022-01-14        64714.0    8472.0
720    2021-05-04        58761.0    2097.0
721    2021-12-14        44703.0    3364.0
722    2022-02-25        69499.0   29811.0
723    2021-03-04        18576.0      61.0

[724 rows x 3 columns]

In [90]:
merge5.to_csv('New.csv',encoding='utf-8') ## Export เป็น csv

In [91]:
table2.to_csv('table2.csv',encoding='utf-8') ## Export เป็น csv